extends ../layout.pug

block content
    h1= title
    form(class='search', action='/books/search', method='GET')
        input(type='search' name='q' placeholder='Find a book')
        input(class='button' type='submit' value='Search')
        a(class='button cancel' href="/") Cancel
    p
        a(class='button' href='/books/new') Create new book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td 
                        a(href=`/books/${book.id}`) #{book.title}
                    td #{book.author}
                    td #{book.genre} 
                    td #{book.year}
    if display
        p
            - let n = 1;
            ul
                li 
                    b Page:
                while n <= pages
                    li 
                        a(class='button' href=`/books?page=${n}`) #{n++}

